.header {
  background: linear-gradient(90deg, #001b2f 0%, #005695 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  width: 100vw;
}

.logoHeader {
  border: solid rgb(0, 255, 17);
  display: flex;
  width: 35%;
  justify-content: space-around;
  align-items: center;

  img {
    width: 20%;
  }

  h1 {
    font-size: 30px;
    color: #fff;
  }
}

.navHeader {
  width: 30%;
  

  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  li{
    display: flex;
  }

  .link {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }
}

.barraDeBusca {
  border: solid #ffffff;
  border-radius: 20px;
  margin-right: 1%;
  width: 20%;
  height: 6vh;
  display: flex;
  justify-content: space-around;
  align-items: center;


  input {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    width: 50%;
    height: 5vh;
    font-size: 15px;

    &::placeholder {
      color: #fff;
      font-size: 20px;
    }
  }
  .boxMenu{
    display: flex;
  }

  
}
@media (max-width: 1120px){// deve ser a pparte do menu
  .logoHeader{
    border: solid 2px red;
    width: 25vw;
    h1{
      font-size: 2.1vw;
    }
    img{
  width: 5vw;
    }
  }
  .boxMenu{
    border: #001b2f;
    ul{
      font-size: 1.7vw;

    }
  }
  .barraDeBusca{
    border: solid olivedrab;
    width: 18vw;
    input{
      &::placeholder{
      font-size: 2vw;
      }
    }
  }

}
@media (max-width: 760px){
  .header{
    border: solid purple;
    height: 20vh;
    flex-direction: column;
  }
  .barraDeBusca{
    display: none;
  }
  .logoHeader{
    border: #aaea08;

  }
  .boxMenu{
    width: 100%;
    
    ul{
      justify-content: space-evenly;
      font-size: 22px;
      display: flex;
    }
  }

}
