.header {
  background: linear-gradient(90deg, #001b2f 0%, #005695 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  width: 100vw;
  padding: 0 2%;
}

/* Logo e título */
.logoHeader {
  display: flex;
  align-items: center;
  width: 28%;
  justify-content: space-between;
  
  img {
    width: 20%;
    margin-right: 20px;
  }

  h1 {
    font-size: 2rem;
    color: #fff;
  }
}

/* Menu de navegação */
.boxMenu {
  width: 30%;

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
  
  }

  li {
    display: flex;
  }

  .link {
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.3s;
    justify-content: space-evenly;

    &:hover {
      color: #00d4ff;
    }
  }
}

/* Barra de busca */
.barraDeBusca {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  height: 6vh;
  border: solid 1px #fff;
  border-radius: 20px;

  input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    width: 70%;
    font-size: 1rem;

    &::placeholder {
      color: #fff;
      font-size: 1rem;
    }
  }

  img {
    width: 20px;
    height: 20px;
  }
}

/* Responsividade */

/* Para telas menores (tablets e smartphones) */
@media (max-width: 760px and 1000px) {
  .header {
    flex-direction: column;
    height: auto;
    padding: 1rem 2%;
  }

  .logoHeader {
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;

    h1 {
      font-size: 1.5rem;
    }

    img {
      width: 8vw;
    }
  }

  .boxMenu {
    width: 100%;

    ul {
      justify-content: center;
      font-size: 1rem;
      justify-content: space-around;
    }
  }

  .barraDeBusca {
    display: none;
  }
}

/* Para telas muito pequenas (smartphones) */
@media (max-width: 500px and 760) {
  .header {
    padding: 1rem;
  }

  .logoHeader h1 {
    font-size: 1.3rem;
  }

  .boxMenu ul {
    font-size: 0.9rem;
  }
}
